<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--  *ngIf="urlCheck && urlCheck != 'tabs'" -->
      <ion-back-button [defaultHref]="getPreviousUrl()"></ion-back-button>
    </ion-buttons>
    <ion-title>Total a pagar ${{order?.grandTotal}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-list class="ion-margin" lines="none">

    <ion-item class="ion-margin-bottom" detail="true" (click)="payWithRazorpay()">
      <ion-avatar slot="start">
        <img src="assets/imgs/razorpay.png" alt="Descripción de la imagen" />
      </ion-avatar>
      <!-- <ion-label>Pay via Razorpay</ion-label> -->
      <ion-label class="ion-text-wrap">Pague mediante tarjeta de débito/crédito</ion-label>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom" detail="true">
      <ion-avatar slot="start">
        <img src="assets/imgs/stripe.png" />
      </ion-avatar>
      <ion-label>Pay via Stripe</ion-label>
    </ion-item> -->

    <ion-item class="ion-margin-bottom" detail="true" (click)="placeCodOrder()">
      <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
      <ion-label>Pagar al delivery</ion-label>
    </ion-item>

    <ion-item class="ion-margin-bottom" detail="true" (click)="createPaymentMercadoPago()">
      <ion-icon name="cash-outline" slot="start" color="success"></ion-icon>
      <ion-label>MercadoPago</ion-label>
    </ion-item>

    <ion-content>
</ion-content>

  </ion-list>

</ion-content>
